*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
                       
    
}

body{
    background-color:#F5F8FF ;  
}

.hero-section{
     background-image: url(../Assets/Hero-bg.png);
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}

.hero-body{
  max-width: 1140px;
  height: 789px;
  width: 100%;
  
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;


}

.logo{
    font-family:"Inter", sans-serif;
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}

.btn{
   
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    padding: 12px 36px;              
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.hero-content{
    max-width: 905px;
   
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color:#252432;
    margin-top: 158px;
    margin-left: 258px;
    margin-right: 258px;
}


.hero-content h1{
    margin-bottom: 37px;
}
.btn:hover{
     background-color: yellowgreen;
     color: black;
     transform: scale(1.06,1.06);
}

.action-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 116px;
   
}

.action-body{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    max-width: 1140px;              
    gap: 220px;
}

.action-right img{

    border-radius: 48px;
}
.action-left h1{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 23px;
   
}

.action-left p{
    font-size: 24px;
    color: #25243279;
    font-weight: 300;
    margin-bottom: 23px;
}

.productive-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 137px;
    
}

.productive-body{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    max-width: 1140px; 
    background-color:rgba(78, 71, 255, 0.1) ;
    padding: 50px 80px ;
    border-radius: 25px ;
}

.productive-content h1{
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}
.numbers{

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;  
   
    
    
}

.numbers p{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}

.numbers h3{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.users-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 137px;
    
}

.users-body{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    max-width: 1140px; 
  
    
}
.users-content h1{
    text-align: center;
    font-size: 42px;
    color: #252432;
    margin-bottom: 50px;
}

.users-comment{
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 24px;
    text-align: left;
    
    
}

.comment{
    min-width: 366px;
    height: 243px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    border: 1px solid #F2EDED;
}

.review{

    display: flex;
    justify-content: flex-start;
    gap: 30px;

}

.staricon{
    margin-bottom: 24px;
}

.comment p{
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 16px;
    color: #1E1E1E;
}

.review h4{
 font-size: 16px;
 color: #757575;
 font-weight: 600;
}

.review p{
    font-size: 16px;
    color: #B3B3B3;
}

.focused-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 92px;
}

.focused-body{
    width: 1140px;
    background-color:#FFFFFF ;
    border-radius: 14px;
    padding: 71px 150px;
}
.focused-body img{
    border-radius: 48px;
    margin-top: 20px;
}

.focused-content h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.focused-content p{
    margin-bottom: 32px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.intouch-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intouch-body{
    min-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 0;
}

.intouch-left{
    max-width: 528px;
}
.intouch-left h1{
    font-size: 97px;
    font-weight: bold;
}


.intouch-right{
   width: 497px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
  background: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 497px;
}

label {
 
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  font-weight: medium;
}

input, textarea {
 width: 100%;
 margin-top: 10px;
  margin-bottom: 19px;
  padding: 20px 32px;
  border: 1px solid rgba(214, 221, 237, 1);
  border-radius: 10px;
  font-size: 20px;
  background: #fff;
  resize: none;
  outline: none;
  transition: border 0.2s;
}